In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_pickle("df_cleaned.pkl")

## 1. Nutrient Ranking Visualization

In [13]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'food', 'Caloric Value', 'Fat',
       'Saturated Fats', 'Monounsaturated Fats', 'Polyunsaturated Fats',
       'Carbohydrates', 'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol',
       'Sodium', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11',
       'Vitamin B12', 'Vitamin B2', 'Vitamin B3', 'Vitamin B5', 'Vitamin B6',
       'Vitamin C', 'Vitamin D', 'Vitamin E', 'Vitamin K', 'Calcium', 'Copper',
       'Iron', 'Magnesium', 'Manganese', 'Phosphorus', 'Potassium', 'Selenium',
       'Zinc', 'Nutrition Density', 'source_group'],
      dtype='object')

### 1.1 Top highest/lowest foods for each nutrient

In [14]:
nutrients = ["Protein", "Dietary Fiber", "Iron", "Sugars", "Sodium", "Caloric Value"]

In [15]:
for col in nutrients:
    print(f"\n Top 10 foods highest in {col}:")
    display(df.nlargest(10, col)[["food", col]])

    print(f"\n Top 10 foods lowest in {col}:")
    display(df.nsmallest(10, col)[["food", col]])

 Top 10 foods highest in Protein:

                              food  Protein
1449  profeel proteiinirahka valio    175.0
1277              emu drums cooked    134.7
1275             emu fillet cooked    123.2
1354           pork tenderloin raw    104.3
1314             lamb liver cooked    102.7
1209          beef round steak raw    100.1
1194         veal leg round cooked     98.4
1190            veal leg round raw     95.2
1280                 goat meat raw     93.4
1328             pork liver cooked     92.1

 Top 10 foods lowest in Protein:

                                      food  Protein
42                               fruit jam      0.0
133  savoury noodle one pan dinner tandaco      0.0
255              little india little lunch      0.0
256  original chicken sandwich chick fil a      0.0
269            egg white delight mcdonalds      0.0
321  hand breaded chicken tenders carls jr      0.0
322        grilled chicken sandwich wendys      0.0
504                wild pink salmon oceans      0.0
554                    weizenbier erdinger      0.0
557                              root beer      0.0

 Top 10 foods highest in Dietary Fiber:

                     food  Dietary Fiber
594      dessert wine dry           76.5
1109          lentils raw           58.6
1099   hyacinth beans raw           53.8
1086       navy beans raw           50.8
2235       split peas raw           50.2
1107     yellow beans raw           49.2
1141  cranberry beans raw           48.2
1131     winged beans raw           47.1
1079     french beans raw           46.4
1056        oregano dried           42.5

 Top 10 foods lowest in Dietary Fiber:

                      food  Dietary Fiber
0             cream cheese            0.0
1        neufchatel cheese            0.0
3           ricotta cheese            0.0
4     cream cheese low fat            0.0
5    cream cheese fat free            0.0
6           gruyere cheese            0.0
7           cheddar cheese            0.0
8          parmesan cheese            0.0
9            romano cheese            0.0
10  parmesan cheese grated            0.0

 Top 10 foods highest in Iron:

                     food   Iron
1306   beef spleen cooked  121.2
1316   lamp spleen cooked  114.1
1358   pork splean cooked   66.5
1328    pork liver cooked   63.4
1333    pork lungs cooked   49.2
785          oat bran raw   40.0
1325  lamb kidneys cooked   31.6
1277     emu drums cooked   30.2
2080          soybean raw   29.2
1321          goose liver   28.7

 Top 10 foods lowest in Iron:

                                      food  Iron
2         requeijao cremoso light catupiry   0.0
15              pepper jack cheese lucerne   0.0
54       chicken and rice casserole homade   0.0
133  savoury noodle one pan dinner tandaco   0.0
234                    vegetable beef soup   0.0
255              little india little lunch   0.0
256  original chicken sandwich chick fil a   0.0
269            egg white delight mcdonalds   0.0
284                  chicken box mcdonalds   0.0
295                         chips chipotle   0.0

 Top 10 foods highest in Sugars:

                           food  Sugars
1466      danone low fat alsafi   255.0
1968  cranberry sauce sweetened   105.0
2345        sweet potato canned    98.3
980              golden raisins    97.7
982        zante currants dried    96.9
746         chocolate semisweet    91.6
619         saccharin sweetener    85.2
1544    apple juice concentrate    81.9
623         aspartame sweetener    80.7
608           splenda sweetener    80.3

 Top 10 foods lowest in Sugars:

                                 food  Sugars
12                       swiss cheese     0.0
15         pepper jack cheese lucerne     0.0
16                     caraway cheese     0.0
18                      tilsit cheese     0.0
24                   roquefort cheese     0.0
28                  mozzarella cheese     0.0
36                        feta cheese     0.0
48                             tahini     0.0
53              ham and cheese spread     0.0
54  chicken and rice casserole homade     0.0

 Top 10 foods highest in Sodium:

                      food  Sodium
1943          adobo fresco    49.4
1047                  salt     7.0
389          salt mackerel     6.1
370        jellyfish dried     5.6
1219       corned beef raw     5.5
1393     pork feet pickled     4.3
854   white rice pasta raw     3.0
848         rice pilaf raw     2.7
193        black bean soup     2.5
66        kung pao chicken     2.4

 Top 10 foods lowest in Sodium:

                                      food  Sodium
2         requeijao cremoso light catupiry     0.0
15              pepper jack cheese lucerne     0.0
54       chicken and rice casserole homade     0.0
133  savoury noodle one pan dinner tandaco     0.0
167                      corn pasta cooked     0.0
255              little india little lunch     0.0
256  original chicken sandwich chick fil a     0.0
269            egg white delight mcdonalds     0.0
284                  chicken box mcdonalds     0.0
295                         chips chipotle     0.0

 Top 10 foods highest in Caloric Value:

                         food  Caloric Value
1219          corned beef raw            898
1153       ground lamb cooked            886
671       chocolate pie crust            881
1591          pili nuts dried            863
625         pineapple topping            860
1925    potato chips fat free            860
1211      chuck eye steak raw            856
1227  chuck eye steak grilled            853
1650  spanish peanuts roasted            851
1345    boston butt steak raw            844

 Top 10 foods lowest in Caloric Value:

                                 food  Caloric Value
628                       baking soda              0
743   milk chocolate with rice cereal              0
1025                          epazote              0
1047                             salt              0
1200                veal shoulder raw              0
1493             coffee decaffeinated              0
1505     powerade zero ion4 coca cola              0
1549                     water dannon              0
1550                        tap water              0
1551                      table water              0

#### I realized that some foods have some unrealistic nutrients values (e.g., profeel proteiinirahka valio with 175g of protein is impossible for 100g)

In [16]:
df[df["Protein"] > 60][["food","Protein"]]

                              food  Protein
345              northern pike raw     76.3
348                 pollock cooked     75.3
361           skipjack tuna cooked     86.9
362                  salmon cooked     78.7
363             chum salmon cooked     79.5
...                            ...      ...
1398          pork blade steak raw     67.6
1429           pheasant breast raw     88.7
1449  profeel proteiinirahka valio    175.0
1641                    lupins raw     65.1
2080                   soybean raw     67.9

[80 rows x 2 columns]

### 1.2 Nutrient rule filter system

In [17]:
# nutrient rule system

rules = {
    "Protein": (0, 60),
    "Fat": (0, 100),
    "Carbohydrates": (0, 100),
}

#### I implemented a rule-based validation function to identify foods whose macronutrient and caloric values were not physiologically consistent with standard 100g nutritional reporting.

In [18]:
def check_validity(row):
    issues = []
    for col, (low, high) in rules.items():
        if not (low <= row[col] <= high):
            issues.append(f"{col} out-of-range")
    return ", ".join(issues) if issues else "OK"

In [20]:
df["validation"] = df.apply(check_validity, axis=1)
# # pd.set_option("display.max_rows", None)
df[df["validation"] != "OK"]

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density,source_group,validation
281,281,281,hotcakes with syrup mcdonalds,601,17.8,1.800,1.900,4.600,101.8,45.5,...,2.8,28.7,0.400,391.2,276.3,0.000,0.6,259.400,FOOD-DATA-GROUP1,Carbohydrates out-of-range
293,293,293,hotcakes sausage mcdonalds,776,34.9,7.300,9.000,6.500,102.4,45.7,...,3.2,37.0,0.400,451.4,390.7,0.000,1.3,292.700,FOOD-DATA-GROUP1,Carbohydrates out-of-range
345,345,345,northern pike raw,348,2.7,0.500,0.600,0.800,0.0,0.0,...,2.2,122.8,1.000,871.2,1025.6,0.082,2.7,321.946,FOOD-DATA-GROUP1,Protein out-of-range
348,348,348,pollock cooked,356,3.8,0.500,0.400,1.900,0.0,0.0,...,1.8,259.7,0.026,854.7,1377.1,0.100,1.8,313.428,FOOD-DATA-GROUP1,Protein out-of-range
361,361,361,skipjack tuna cooked,407,4.0,1.300,0.700,1.200,0.0,0.0,...,4.9,135.5,0.067,877.8,1607.8,0.100,3.2,212.936,FOOD-DATA-GROUP1,Protein out-of-range
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,380,380,soy vermicelli,463,0.1,0.092,0.005,0.093,115.2,24.4,...,2.5,2.8,0.000,28.0,4.2,0.017,5.9,200.400,FOOD-DATA-GROUP5,Carbohydrates out-of-range
2080,407,407,soybean raw,830,37.1,5.400,8.200,20.900,56.1,13.6,...,29.2,520.8,4.700,1309.4,3342.4,0.071,9.1,734.000,FOOD-DATA-GROUP5,Protein out-of-range
2176,503,503,yellow corn raw,606,7.9,1.100,2.100,3.600,123.3,1.1,...,4.5,210.8,0.800,348.6,476.4,0.032,3.7,175.000,FOOD-DATA-GROUP5,Carbohydrates out-of-range
2235,562,562,split peas raw,672,2.3,0.300,0.500,1.000,118.9,15.8,...,8.7,226.6,2.700,721.0,1932.6,0.037,5.9,340.400,FOOD-DATA-GROUP5,Carbohydrates out-of-range
2345,672,672,sweet potato canned,568,1.3,0.300,0.080,0.500,133.5,98.3,...,5.1,82.9,3.200,172.3,1180.3,0.037,1.2,324.900,FOOD-DATA-GROUP5,Carbohydrates out-of-range

In [21]:
invalid_foods = df.loc[df["validation"] != "OK", "food"]
print(invalid_foods.tolist())

['hotcakes with syrup mcdonalds', 'hotcakes sausage mcdonalds', 'northern pike raw', 'pollock cooked', 'skipjack tuna cooked', 'salmon cooked', 'chum salmon cooked', 'halibut cooked', 'chinook salmon raw', 'tilefish raw', 'sockeye salmon cooked', 'northern pike cooked', 'salmon raw', 'turbot cooked', 'chinook salmon cooked', 'halibut raw', 'yellowtail cooked', 'yellowtail raw', 'pollock raw', 'pink salmon raw', 'turbot raw', 'tilefish cooked', 'lingcod cooked', 'sockeye salmon raw', 'salmon canned', 'sockeye salmon canned', 'pink salmon canned', 'cod canned', 'chum salmon canned', 'red salmon sockeye filets smoked', 'white frosting dry', 'pineapple topping', 'popover dry mix', 'tapioca pearls', 'rice flour brown', 'cornmeal white', 'barley flour', 'rice flour white', 'potato flour', 'cornmeal yellow', 'arrowroot flour', 'cornstarch', 'chocolate pie crust', 'chocolate semisweet', 'triticale', 'couscous dry', 'teff raw', 'millet raw', 'kamut raw', 'wheat durum', 'sorghum', 'white wheat', 'rye', 'spelt raw', 'semolina', 'brown rice raw', 'beef flavored rice raw', 'wild rice raw', 'chicken flavored rice raw', 'parboiled white rice raw', 'rice pilaf raw', 'glutinous white rice raw', 'white rice pasta raw', 'white rice raw', 'golden raisins', 'raisins seeded', 'zante currants dried', 'mammy apple mamey', 'french beans raw', 'pink beans raw', 'navy beans raw', 'pinto beans raw', 'black turtle beans raw', 'hyacinth beans raw', 'white beans raw', 'mung beans raw', 'adzuki beans raw', 'pink lentils raw', 'yellow beans raw', 'lentils raw', 'chickpeas raw', 'mungo beans raw', 'pigeon peas raw', 'mothbeans raw', 'lima beans raw', 'black beans raw', 'yardlong beans raw', 'cranberry beans raw', 'ground lamb cooked', 'lamb meat cooked', 'lamb shank roasted', 'lamb sirloin cooked', 'lamb shoulder cooked', 'lamb leg cooked', 'veal sirloin cooked', 'veal meat cooked', 'veal sirloin raw', 'veal rib raw', 'veal leg round raw', 'ground veal cooked', 'veal leg round cooked', 'veal shank raw', 'veal breast cooked', 'rib eye steak grilled', 'beef round steak cooked', 'beef round steak raw', 'chuck eye steak raw', 'corned beef raw', 'rib eye steak raw', 'chuck blade roast cooked', 'chuck eye steak grilled', 'veal meat raw', 'veal shoulder cooked', 'veal shank cooked', 'emu fillet cooked', 'emu drums cooked', 'ground bison cooked', 'goat meat raw', 'veal tongue cooked', 'beef pancreas cooked', 'pork pancreas cooked', 'beef spleen cooked', 'veal spleen cooked', 'lamb liver cooked', 'lamp spleen cooked', 'lamb lungs cooked', 'lamb kidneys cooked', 'beef lungs cooked', 'veal pancreas cooked', 'pork liver cooked', 'boston butt steak raw', 'pork tenderloin raw', 'pork splean cooked', 'pork blade steak braised', 'pork boston roast cooked', 'pork blade steak raw', 'pheasant breast raw', 'profeel proteiinirahka valio', 'breadnut tree seeds dried', 'lupins raw', 'chinese noodles', 'bagel chips', 'potato chips fat free', 'potato chips reduced fat', 'cranberry sauce sweetened', 'cranberry orange relish', 'soy vermicelli', 'soybean raw', 'yellow corn raw', 'split peas raw', 'sweet potato canned']

#### I would say there are these type of anomalies: Meats or fish extremely high in protein, flours extremely high in carbs, Sweats and sauces

#### What do they have in common? They probably are a different type of serving

In [24]:
# Save the invalid foods to a CSV file for further review
different_serving = df[df["validation"] != "OK"]
different_serving.to_csv("different_serving_foods.csv", index=False)

#### Since these anomalies represented â‰ˆ6% of the dataset and could introduce noise and bias into downstream analysis or modeling, I removed them to maintain data integrity and ensure reliable insights

In [25]:
df = df[df["validation"] == "OK"].copy()

In [27]:
df.shape

(2171, 39)

In [28]:
df = df.drop(columns=["validation"])

### 1.3 High protein/low calorie foods

In [39]:
df["protein_per_calorie"] = df["Protein"] / df["Caloric Value"]

In [40]:
df_no_zeroCal = df[df["Caloric Value"] > 0]

In [41]:
high_protein_low_cal = df_no_zeroCal.sort_values(by="protein_per_calorie", ascending=False)
high_protein_low_cal.head(20)

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density,source_group,protein_per_calorie
636,85,85,gelatin powder,17,0.086,0.090,0.054,0.063,0.00,0.000,...,0.099,1.1,0.019,2.0,0.8,0.077,0.004,7.255,FOOD-DATA-GROUP2,0.252941
2048,375,375,soy proteins isolate,96,1.000,0.100,0.200,0.500,2.10,0.000,...,4.100,11.0,0.400,219.6,22.9,0.011,1.100,82.000,FOOD-DATA-GROUP5,0.237500
37,37,37,mozzarella cheese fat free,159,0.000,0.000,0.000,0.000,4.00,1.700,...,0.400,37.3,0.000,741.3,119.8,0.035,4.400,1128.200,FOOD-DATA-GROUP1,0.225157
1225,355,355,cured beef dried,4,0.019,0.086,0.088,0.007,0.06,0.006,...,0.004,0.5,0.018,5.1,6.6,0.010,0.100,1.333,FOOD-DATA-GROUP3,0.225000
1278,408,408,green turtle raw,25,0.100,0.015,0.093,0.074,0.00,0.000,...,0.400,5.7,0.000,50.9,65.1,0.035,0.300,39.567,FOOD-DATA-GROUP3,0.224000
626,75,75,egg white dried,26,0.087,0.000,0.000,0.000,0.30,0.000,...,0.028,5.0,0.030,6.2,78.1,0.012,0.000,12.343,FOOD-DATA-GROUP2,0.223077
469,469,469,yellowfin tuna raw,31,0.100,0.073,0.008,0.026,0.00,0.000,...,0.200,9.9,0.062,78.7,124.8,0.096,0.100,8.322,FOOD-DATA-GROUP1,0.222581
346,346,346,haddock cooked,135,0.800,0.200,0.100,0.300,0.00,0.000,...,0.300,39.0,0.060,417.0,526.5,0.055,0.600,52.159,FOOD-DATA-GROUP1,0.222222
457,457,457,yellowfin tuna cooked,37,0.200,0.054,0.095,0.038,0.00,0.000,...,0.300,11.9,0.014,94.2,149.1,0.003,0.100,9.861,FOOD-DATA-GROUP1,0.221622
379,379,379,haddock raw,143,0.900,0.200,0.100,0.300,0.00,0.000,...,0.300,40.5,0.051,438.1,552.0,0.025,0.600,53.952,FOOD-DATA-GROUP1,0.220280
458,458,458,ling cooked,168,1.200,0.000,0.000,0.000,0.00,0.000,...,1.300,122.3,0.035,383.5,733.9,0.079,1.500,105.731,FOOD-DATA-GROUP1,0.219048
394,394,394,pumpkin seed sunfish cooked,42,0.300,0.025,0.083,0.100,0.00,0.000,...,0.600,14.1,0.300,85.5,166.1,0.025,0.700,48.674,FOOD-DATA-GROUP1,0.219048
440,440,440,cusk raw,106,0.800,0.200,0.100,0.300,0.00,0.000,...,1.000,37.8,0.032,248.9,478.2,0.010,0.500,37.228,FOOD-DATA-GROUP1,0.218868
506,506,506,alaska king crab raw,144,1.000,0.200,0.100,0.200,0.00,0.000,...,1.000,84.3,0.021,376.7,350.9,0.002,10.200,124.608,FOOD-DATA-GROUP1,0.218750
485,485,485,ling raw,168,1.200,0.200,0.200,0.400,0.00,0.000,...,1.300,121.6,0.026,382.1,731.5,0.069,1.500,104.862,FOOD-DATA-GROUP1,0.218452
472,472,472,cusk cooked,106,0.800,0.000,0.000,0.000,0.00,0.000,...,1.000,38.0,0.048,248.9,477.9,0.012,0.500,37.306,FOOD-DATA-GROUP1,0.217925
436,436,436,dolphinfish cooked,173,1.400,0.400,0.200,0.300,0.00,0.000,...,2.300,60.4,0.018,291.0,847.5,0.057,0.900,71.625,FOOD-DATA-GROUP1,0.217919
438,438,438,dolphinfish raw,173,1.400,0.400,0.200,0.300,0.00,0.000,...,2.300,61.2,0.084,291.7,848.6,0.006,0.900,72.100,FOOD-DATA-GROUP1,0.217919
382,382,382,cod cooked,189,1.500,0.300,0.200,0.500,0.00,0.000,...,0.900,75.6,0.016,248.4,439.2,0.090,1.000,70.534,FOOD-DATA-GROUP1,0.217460
358,358,358,cod raw,189,1.500,0.300,0.200,0.500,0.00,0.000,...,0.900,73.9,0.013,468.9,954.0,0.096,1.000,82.880,FOOD-DATA-GROUP1,0.217460

In [52]:
list(
    high_protein_low_cal
    .head(20)[["food", "Protein", "Caloric Value", "protein_per_calorie"]]
    .itertuples(index=False, name=None)
)

[('gelatin powder', 4.3, 17, 0.2529411764705882),
 ('soy proteins isolate', 22.8, 96, 0.23750000000000002),
 ('mozzarella cheese fat free', 35.8, 159, 0.2251572327044025),
 ('cured beef dried', 0.9, 4, 0.225),
 ('green turtle raw', 5.6, 25, 0.22399999999999998),
 ('egg white dried', 5.8, 26, 0.22307692307692306),
 ('yellowfin tuna raw', 6.9, 31, 0.22258064516129034),
 ('haddock cooked', 30.0, 135, 0.2222222222222222),
 ('yellowfin tuna cooked', 8.2, 37, 0.2216216216216216),
 ('haddock raw', 31.5, 143, 0.2202797202797203),
 ('ling cooked', 36.8, 168, 0.21904761904761902),
 ('pumpkin seed sunfish cooked', 9.2, 42, 0.21904761904761902),
 ('cusk raw', 23.2, 106, 0.2188679245283019),
 ('alaska king crab raw', 31.5, 144, 0.21875),
 ('ling raw', 36.7, 168, 0.21845238095238098),
 ('cusk cooked', 23.1, 106, 0.2179245283018868),
 ('dolphinfish cooked', 37.7, 173, 0.2179190751445087),
 ('dolphinfish raw', 37.7, 173, 0.2179190751445087),
 ('cod cooked', 41.1, 189, 0.21746031746031746),
 ('cod raw', 41.1, 189, 0.21746031746031746)]